.g-body-title Import references to DICOM objects on a DICOMweb Server

.g-import-instructions.
  Use this page to import references to DICOM objects on a DICOMweb server
  into the girder assetstore system. An existing folder must be used as the
  destination for the DICOM references.

form.g-dwas-import-form
  .form-group
    label(for="g-dwas-import-dest-type") Destination type
    select#g-dwas-import-dest-type.form-control
      option(value="folder", selected=true) Folder
      option(value="user") User
      option(value="collection") Collection
  .form-group
    label(for="g-dwas-import-dest-id") Destination ID
    .input-group.input-group-sm
      input#g-dwas-import-dest-id.form-control.input-sm(
          type="text",
          placeholder="Existing folder, user, or collection ID to use as the destination")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
    label(for="g-dwas-import-limit") Limit (Studies)
    input#g-dwas-import-limit.form-control(
        type="number", step="1", min="1", value="10")
    label(for="g-dwas-import-filters") Filters (Studies)
    textarea#g-dwas-import-filters.form-control(rows="10")
      | {
      |     "ModalitiesInStudy": "SM"
      | }
  .g-validation-failed-message
  button.g-submit-assetstore-import.btn.btn-success(type="submit")
    i.icon-link-ext
    |  Begin import
