.g-assetstore-import-button-container
  a.g-dwas-import-button.btn.btn-sm.btn-success(
      href=`#assetstore/${assetstore.get('_id')}/import`,
      title="Import references to DICOM objects from a DICOMweb server")
    i.icon-link-ext
    |  Import data
