sudo: false
dist: xenial
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
services:
  - mongodb
  - memcached
addons:
  apt:
    packages:
    - rabbitmq-server
install:
  - pip install --upgrade pip
  - pip install --upgrade virtualenv
  - pip install tox-travis
  # If the last tag is more than 50 commits away, we need to fetch more for
  # the scm_version module to determine the version.
  - git fetch --depth=1000
script:
  # Piping through cat does less buffering of the output but can consume the
  # exit code
  - tox | cat; test ${PIPESTATUS[0]} -eq 0
after_success:
  - pip install codecov
  - codecov --disable search pycov gcov --file build/test/coverage/py_coverage.xml build/test/coverage/cobertura-coverage.xml
  - if [ ${TRAVIS_PYTHON_VERSION:0:3} == "3.7" ]; then pip install travis-sphinx; travis-sphinx -o docs/build -v deploy -b sphinx,master; fi
