# Top level dependencies
-e sources/bioformats
-e sources/deepzoom
-e sources/dicom
-e sources/dummy
-e sources/gdal
-e sources/multi[all]
-e sources/nd2
-e sources/openjpeg
-e sources/openslide
-e sources/pil[all]
-e sources/rasterio[all]
-e sources/test
-e sources/tiff[all]
-e sources/tifffile
-e sources/vips
-e sources/zarr
# must be after sources/tiff
-e sources/ometiff
# must be after source/gdal
-e sources/mapnik
# Don't specify other extras for the converter; they are already present above
-e utilities/converter[stats]
# Girder and worker dependencies are already installed above
-e utilities/tasks[girder]
-e girder/.
-e girder_annotation/.[compute]

# Extras from main setup.py
matplotlib
tol-colors>=2.0.0
pylibmc>=1.5.1
redis
simplejpeg
ipyvue
aiohttp

# External dependencies
pip>=9
tox
twine
virtualenv

# For Jupyter
ipyleaflet
IPython
tornado
