# Top level dependencies
git+https://github.com/girder/girder.git#egg=girder
git+https://github.com/girder/girder.git#egg=girder-jobs&subdirectory=plugins/jobs
-e sources/dummy
-e sources/mapnik
-e sources/openslide
-e sources/pil
-e sources/test
-e sources/tiff
# Get both the girder and worker dependencies so tasks can be used stand-alone
-e tasks[girder,worker]
-e girder/.

# External dependencies
pip>=9
coverage
flake8
flake8-blind-except
flake8-bugbear; python_version >= '3.5'
flake8-docstrings>=1.3
flake8-quotes
pydocstyle
pytest>=3.6
pytest-cov==2.5
git+https://github.com/girder/girder.git#egg=pytest-girder&subdirectory=pytest_girder
pytest-xdist
mock
tox
twine
virtualenv


