# Top level dependencies
girder>=3.0.4
girder-jobs>=3.0.3
-e sources/dummy
-e sources/mapnik
-e sources/openjpeg
-e sources/openslide
-e sources/pil
-e sources/test
-e sources/tiff
# must be after sources/tiff
-e sources/ometiff
# Get both the girder and worker dependencies so tasks can be used stand-alone
-e tasks[girder,worker]
-e girder/.
-e girder_annotation/.

# External dependencies
pip>=9
tox
twine
virtualenv


