# Top level dependencies
sources/bioformats
sources/deepzoom
sources/dicom
sources/dummy
sources/gdal
sources/multi[all]
sources/nd2
sources/openjpeg
sources/openslide
sources/pil[all]
sources/rasterio[all]
sources/test
sources/tiff[all]
sources/tifffile
sources/vips
sources/zarr
# must be after sources/tiff
sources/ometiff
# must be after source/gdal
sources/mapnik
# Don't specify other extras for the converter; they are already present above
utilities/converter[stats]

# Extras from main setup.py
matplotlib
pylibmc>=1.5.1
redis
simplejpeg
ipyvue
aiohttp

# External dependencies
pip>=9
tox
twine
virtualenv

# For Jupyter
ipyleaflet
IPython
tornado
