# Top level dependencies
girder>=3.1.18
girder-jobs>=3.0.3
sources/bioformats
sources/deepzoom
sources/dicom
sources/dummy
sources/gdal
sources/multi[all]
sources/nd2
sources/openjpeg
sources/openslide
sources/pil[all]
sources/rasterio[all]
sources/test
sources/tiff[all]
sources/tifffile
sources/vips
sources/zarr
# must be after sources/tiff
sources/ometiff
# must be after source/gdal
sources/mapnik
# Don't specify other extras for the converter; they are already present above
utilities/converter[stats]
# Girder and worker dependencies are already installed above
utilities/tasks[girder]
girder/.
girder_annotation/.

# Extras from main setup.py
matplotlib
pylibmc>=1.5.1
redis
simplejpeg
ipyvue
aiohttp

# External dependencies
pip>=9
tox
twine
virtualenv

# For Jupyter
ipyleaflet
IPython
tornado
