div.large_image_thumbnail
  display inline-block
  width 160px

  img
    display none
    margin auto

    &.loaded
      display block

div.large_image_container
  display inline-block
  min-width 160px

div.large_image_container+span
  white-space nowrap

[large_image_columns="2"]
  div.large_image_container
    min-width 320px

[large_image_columns="3"]
  div.large_image_container
    min-width 480px

  &.li-item-list[layout_mode="grid"]
    display block

    &>li.g-item-list-entry
      display inline-block
      overflow hidden
      border 1px solid rgba(0, 0, 0, 0.1)
      padding 1px
      vertical-align top
      max-width 250px

    &>li>.li-item-list-cell
      display inline-block

ul.g-item-list[metadata-columns="0"]
  .li-column-record-size
    text-wrap no-wrap

  .li-column-record-name
    width 100%

@media (min-width 768px)
  .modal-dialog.li-item-list-dialog
    width inherit

@media (min-width 900px)
  .modal-dialog.li-item-list-dialog
    width 70%
    max-width 1000px

.li-item-list-filter
  padding-top 11px

.li-item-list-filter-clear
  cursor pointer
